body {
	background-color: #6699CC;
	padding: 20px;
}

#body_container {
	background-color: #FFF;
	border-style: solid;
	border-width: 1px;
	border-color: #000;
	padding: 30px;
}

.header {
	background-color: #FFE;
	padding: 20px;
	border-style: solid;
	border-color: #000;
	border-width: 1px;
}

a {
	text-decoration: none;
	color: #C60;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	text-decoration: none;
	color: #C60;
}