<h1>Welcome to PortfolioTracker</h1>

<p>Please <%= link_to "login", new_user_session_path %> or <%= link_to "sign up", new_user_registration_path %> if not a member.</p>

<p>We hope you enjoy your stay.</p>
