<!DOCTYPE>

<html>

<head>
	<title></title>
</head>

	<body>
		<h2>Sorry,</h2> unfortunately our standards prohibit us from showing you a decent looking view until you've actually logged in. Please do so. Thanks.

		<%= yield %>
	</body>
	
</html>
